# Build results
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/


# Visual Studio Code
.vscode/

# Rider
.idea/

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
packages/

# Dotnet tools
.dotnet-tools/

# Configs locais
appsettings.Development.json
